@import "less/bootstrap/bootstrap.less";
@import "less/custom-fonts.less";

/* path */
@pti: "../img/";

/* fonts */
@f-nr: 'NeuronRegular', sans-serif;
@f-nb: 'NeuronBold', sans-serif;
@f-neb: 'NeuronExtraBold', sans-serif;
@f-nh: 'NeuronHeavy', sans-serif;

ul {
	list-style-type: none;
}

a:focus {
	outline: none;
}

.page {
	background: url(../img/pattern-blue-L2x.png) repeat;
}

.wrap {
	width: 1200px;
	margin: auto;
	position: relative;
	margin: 128px auto 0;
}

.container {
	width: 1000px;
}

.page-title {
	position: relative;

	&:after {
		content: '';
		display: block;
		position: absolute;
		width: 426px;
		height: 301px;
		top: -45px;
		right: 100%;
		background: url("@{pti}contacts-confeti.png") center center no-repeat;
		pointer-events: none;
		z-index: 1;
	}
}

h3 {
	font-size: 36px;
	font-family: @f-neb;
	color: #fff;
	margin: 0 0 36px;
	text-transform: uppercase;
}

h4 {
	font-size: 30px;
	font-family: @f-neb;
	color: #fff;
	margin: 0;
	text-transform: uppercase;
}

header {
	background: url("@{pti}header-bg.png") 0 100% repeat-x;
	height: 154px;
	z-index: 1;
	position: absolute;
	width: 100%;
	top: 0;

	.logo {
		margin: 11px 0 0;
	}
	.menu-header {
		position: absolute;
		z-index: 1;
		right: 0;
		top: 0;
	}
	.desc {
		font: 16px @f-nb;
		color: #fff;
		text-transform: uppercase;
		position: absolute;
		text-shadow: 1px 1px 1px rgba(46, 93, 162, .5);
		left: 320px;
		top: 95px;
	}
	.phone {
		background: url("@{pti}header-icon-ph.png") 0 0 no-repeat;
		font: 30px @f-neb;
		color: #fff;
		text-transform: uppercase;
		position: absolute;
		text-shadow: 1px 1px 1px rgba(46, 93, 162, .5);
		padding-left: 37px;
		right: 0;
		top: 80px;
		height: 49px;
		top: 67px;
		line-height: 2.3;
		z-index: 1;
	}
	.candy-head {
		background: url("@{pti}header-candy.png") no-repeat;
		width: 268px;
		height: 154px;
		position: absolute;
		right: -115px;
		top: 0;
	}
}

header.fixed {
	position: fixed;
	height: 71px;
	z-index: 100;
	margin-top: -71px;
	transition: margin 0.4s;
	&.visible {
		margin-top: 0;
	}

	.phone {
		left: 2px;
		top: 2px;
		right: auto;
		padding-left: 27px;
		line-height: 3.5;
		background-size: auto 38px;
		font-size: 16px;
	}
	.link-l-home {
		background: url("@{pti}header-elephant.png") 21px 12px no-repeat;

		&:hover {
			background-position: 21px 22px;
		}
	}
}

.list-header {

	.item-list {
		float: left;
		background-image: url("@{pti}header-it-menu.png");
		background-repeat: no-repeat;
		height: 76px;
		width: 170px;

		&:hover {
			height: 85px;
		}
	}
	.item-list-b {

		&:hover {
			background-position: 0 -80px;
		}
	}
	.item-list-g {
		background-position: -200px 0;

		&:hover {
			background-position: -200px -80px;
		}
	}
	.link-list {
		font: 15px @f-neb;
		line-height: 4.4;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		text-shadow: 1px 1px 1px rgba(46, 93, 162, .5);
		text-align: center;
		display: block;
		height: 100%;

		&:hover {
			line-height: 5.7;
		}
	}
}

/* main
****************/
.main {
	background: url("@{pti}pattern-blue-L2x.png") 0 0 repeat;
	position: relative;

	.candy-top {
		background: url("@{pti}main-top-candy.png") 0 0 no-repeat;
		position: absolute;
		height: 213px;
		right: 0;
		top: 62px;
		width: 106px;
	}
}

.girl-main {
	background: url("@{pti}main-girl.jpg") 0 0 no-repeat;
}

.filter-button {
	position: relative;
	z-index: 3;

	.item {
		display: inline-block;
		width: 201px;
		height: 66px;
		line-height: 57px;
		background: url("@{pti}filter-button.png") -210px 0 no-repeat;
		font-size: 16px;
		font-family: @f-neb;
		color: #fff;
		text-transform: uppercase;
		text-shadow: 1px 1px 1px rgba(46, 93, 162, .5);
		margin: 0 15px;
		
		&:hover {
			background: url("@{pti}filter-button.png") right 0 no-repeat;
			cursor: pointer;
		}

		&.active {
			background: url("@{pti}filter-button.png") 0 0 no-repeat;

			&:hover {
				background: url("@{pti}filter-button.png") 0 0 no-repeat;
			}
		}
	}
}

.slider-on-main-wrapper {
	background: url("@{pti}home-slider-bg.jpg") center bottom no-repeat;

	.slide {
		height: 598px;
		position: relative;

		.person {
			position: absolute;
			bottom: 65px;
			left: -40px;
			width: 380px;
			height: 380px;

			.man {
				position: absolute;
				top: 0;
				right: 120px;
			}

			.cloud {
				position: absolute;
				bottom: 0;
				right: 20px;
			}
		}

		.name {
			position: absolute;
			bottom: 315px;
			left: 225px;
			font-family: @f-nh;
			font-size: 100px;
			line-height: 1;
			color: rgba(255, 255, 255, 0.5)
		}

		.caption {
			position: absolute;
			padding: 20px;
			font: 15px 'PT Serif', serif;
			color: #fff;
			bottom: 210px;
			left: 280px;
			width: 365px;

			.person-link {
				color: #2e5da2;
				font-family: @f-neb;
				font-size: 16px;
				text-transform: uppercase;
				text-decoration: underline;
				display: inline-block;
				margin-top: 15px;

				&.hover {
					text-decoration: none;
				}
			}
		}

		.video {
			width: 523px;
			height: 368px;
			position: absolute;
			bottom: 70px;
			right: -110px;

			img {
				display: block;
				position: absolute;
			}

			.frame {
				left: 115px;
				bottom: 110px;
				z-index: 3;
			}

			.cloud-top {
				left: 0;
				bottom: 0;
				z-index: 4;
			}

			.cloud-bottom {
				left: 50px;
				bottom: 0;
				z-index: 1;
			}

			.back-video {
				left: 130px;
				bottom: 134px;
				z-index: 1;
			}
		}
	}

	.main-slider-scroll {
		margin: -70px 0 0;
		padding: 0;
		list-style: none;
		position: relative;

		li {
			display: inline-block;
			width: 47px;
			height: 16px;
			background: url("@{pti}article-scroll.png") -50px -15px repeat-x;
			margin: 0 -2px;

			&.first {
				background: url("@{pti}article-scroll.png") 0 -15px repeat-x;
			}

			&.last {
				width: 15px;
				background: url("@{pti}article-scroll.png") -97px -15px repeat-x;
			}

			&.point {
				background: url("@{pti}article-scroll.png") 0 -40px no-repeat;
				width: 46px;
				height: 46px;
				position: absolute;
				top: -15px;
				margin-left: 34px;
			}
		}
	}

	.filter-button {
		margin-top: 35px;
	}
}

.main-page-top {
	height: 1450px;
	background: url("@{pti}home-bg-top.jpg") center top no-repeat;
	margin-top: -50px;
	position: relative;
}

.ferral {
	width: 804px;
	height: 844px;
	position: absolute;
	top: 70px;
	left: 50%;
	margin-left: -399px;
	background: url("@{pti}whell.png") center center no-repeat;

	span {
		display: block;
		position: absolute;
		z-index: 3;

		.extra {
			display: block;
			position: absolute;
			z-index: -1;
		}

		&.party-1 {
			top: 65px;
			left: 285px;

			.extra {
				top: 0;
				left: -20px;
			}
		}

		&.party-2 {
			top: 220px;
			left: 580px;

			.extra {
				top: 0;
				left: 5px;
			}
		}

		&.party-3 {
			top: 474px;
			left: 550px;

			.extra {
				top: -10px;
				left: 5px;
			}
		}

		&.party-4 {
			top: 625px;
			left: 311px;

			.extra {
				top: 0;
				left: -10px;
			}
		}

		&.party-5 {
			top: 480px;
			left: 85px;

			.extra {
				top: -10px;
				left: -10px;
			}
		}

		&.party-6 {
			top: 220px;
			left: 50px;

			.extra {
				top: -10px;
				left: -20px;
			}
		}
	}

	.center {
		display: block;
		width: 340px;
		height: 356px;
		position: absolute;
		top: 59%;
		left: 50%;
		margin: -178px 0 0 -170px;
		z-index: 1;
		font-size: 60px;
		color: #fff;
		font-family: @f-neb;
		padding-top: 100px;
		line-height: 1.1;
		text-transform: none;

		.whell {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			background: url("@{pti}whell-center.png") center center no-repeat;
		}

		&:hover {
			text-decoration: none;
		}
	}
}

.video-block-on-main {
	margin-top: 960px;

	.text {
		width: 590px;
		float: left;
		color: #333;
		position: relative;
		z-index: 5;

		&:after {
			content: '';
			display: block;
			pointer-events: none;
			width: 445px;
			height: 628px;
			background: url("@{pti}main-confeti-1.png") center center no-repeat;
			position: absolute;
			top: 0;
			left: -240px;
			z-index: 0;
		}

		.title {
			font-size: 60px;
			line-height: 0.6;
			font-family: @f-neb;
			margin: 0 0 50px;
			color: #333;

			span {
				font-size: 36px;
			}
		}

		p {
			font: 15px 'PT Serif', serif;
			padding-right: 90px;
			margin: 0;

			&.caption {
				font-size: 30px;
				font-family: @f-nb;
				margin-bottom: 25px;
			}
		}
	}

	.video-owner {
		position: relative;
		width: 400px;
		float: right;
		margin-top: 45px;
		z-index: 1;

		.video {
			z-index: 1
		}

		&:after {
			content: '';
			display: block;
			width: 544px;
			height: 566px;
			position: absolute;
			z-index: 0;
			background: url("@{pti}balluns.png") center center no-repeat;
			top: 50%;
			left: 50%;
			margin: -245px 0 0 -272px;
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 448px;
			height: 87px;
			top: -12px;
			left: -24px;
			background: url("@{pti}video-frame.png") center center no-repeat;
			pointer-events: none;
			z-index: 3;
		}
	}
}

.pink-form {
	height: 604px;
	background: url("@{pti}pink-form.png") center center no-repeat;
	margin: -21px 0 -60px;
	position: relative;
	z-index: 2;
	padding-top: 60px;
	overflow-x: hidden;

	.list-photo-art {
		position: relative;
		height: 300px;
		overflow: visible;
		z-index: 2;

		li {
			position: absolute;
			max-width: 250px;
		}

		.-first {
			left: 0;
			top: 20px;
			transform: rotate(10deg);
		}

		.-second {
			right: 70px;
			top: 50px;
			transform: rotate(-7deg);
		}

		.-third {
			top: 80px;
			left: 50%;
			margin-left: -125px;
		}
	}

	.order-form {
		position: relative;
		z-index: 1;
		padding-bottom: 45px;

		&:after {
			content: '';
			display: block;
			pointer-events: none;
			width: 899px;
			height: 579px;
			background: url("@{pti}main-confeti-2.png") center 30px no-repeat;
			position: absolute;
			bottom: 0;
			right: -260px;
			z-index: -1;
		}
	}
}

.bubles {
	width: 366px;
	height: 403px;
	background: url("@{pti}gift-bubble.png") center center no-repeat;
	position: absolute;
	left: 50%;
	margin-left: 320px;
	top: 10px;

	.gift {
		margin: 100px 0 0 150px;
		position: relative;
		display: block;
		z-index: -1;
	}
}

.main-page-bottom {
	height: 1827px;
	background: url("@{pti}home-bg-bottom.jpg") center top no-repeat;
	position: relative;
	padding-top: 50px;
	z-index: 0;
	overflow-x: hidden;

	.gift {
		margin: 85px 0 0 125px;
		position: relative;
		display: block;
	}
}

.benefits {
	h2 {
		color: #333;
		margin-bottom: 50px;
	}

	.benefits-item {
		padding-left: 120px;
		background: url("@{pti}benefit-bg.png") 0 0 no-repeat;
		width: 420px;
		margin-bottom: 50px;

		h4 {
			color: #333;
		}

		&.-first, &.-third, &.-fiveth {
			margin-left: 65px;
		}
	}
}

.eggs {
	margin-top: 50px;

	h2 {
		color: #333;
		margin-bottom: 50px;
	}
}

.eeg-item {
	.cont {
		display: inline-block;

		.count {
			font-family: @f-neb;
			font-size: 100px;
			color: #fff;
			line-height: 0.75;
			text-transform: uppercase;
			padding-left: 40px;
		}

		.string {
			font-family: @f-nb;
			font-size: 16px;
			text-transform: uppercase;
			color: #fff;
			line-height: 1;
			width: 283px;
			height: 90px;
			background: url("@{pti}egg-string.png") center top no-repeat;
			padding: 32px 0 0 40px;
		}
	}
}

.questions {
	padding-top: 70px;
	height: 561px;
	background: url("@{pti}question-block-bg.png") center center no-repeat;
	position: relative;
	z-index: 0;
	overflow-x: hidden;

	h3 {
		margin-top: 70px;
	}

	.gift {
		margin: 100px 0 0 135px;
		position: relative;
		display: block;
	}
}

/* aside
************/
aside {
	width: 340px;
	float: left;
	margin-top: 540px;
}

.age-division-block {
	width: 297px;
	min-height: 78px;
	margin-bottom: 15px;

	.title {
		position: relative;
		z-index: 1;
		display: inline-block;
		background: url("@{pti}side-bar-headers.png") 0 0 no-repeat;
		width: 100%;
		line-height: 78px;
		font-family: @f-neb;
		font-size: 30px;
		color: #fff;
		text-shadow: 1px 1px 1px rgba(46, 93, 162, 0.5);
		cursor: pointer;
		text-transform: uppercase;

		&:hover {
			background-position: right 0;
		}
	}

	.person-list {
		position: relative;
		padding-bottom: 15px !important;
		display: none;
		position: relative;
		top: -17px;

		ul {
			width: 266px;
			background: url("@{pti}pattern pink.png");
			padding: 35px 0 10px;

			li {
				padding: 5px 0;

				a {
					font-family: @f-neb;
					font-size: 16px;
					color: #fff;
					text-decoration: underline;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}

		.wawe {
			position: absolute;
			z-index: 0;

			&.-left, &.-right {
				width: 27px;
				height: 100%;
				background: url("@{pti}sidebar-right-wawe.png");
				bottom: 34px;
				left: -11px;
				transform: rotate(180deg);
				border-radius: 0 0 20px 0;
			}

			&.-right {
				background: url("@{pti}sidebar-left-wawe.png");
				right: -10px;
				left: auto;
				border-radius: 0 0 0 20px;
			}

			&.-bottom {
				width: 317px;
				height: 35px;
				bottom: -1px;
				left: -11px;
				background: url("@{pti}sidebar-bottom-wawe.png");
			}
		}
	}

	&.second {
		ul {
			background: url("@{pti}pattern yellowL.png");
		}

		.title {
			background-position: 0 -78px;

			&:hover {
				background-position: right -78px;
			}
		}
	}

	&.third {
		ul {
			background: url("@{pti}pattern greenL.png");
		}

		.title {
			background-position: 0 -156px;

			&:hover {
				background-position: right -156px;
			}
		}
	}
}

.content {
	width: 660px;
	float: left;
}

.page-block {
	padding: 50px 0;
	background: url("@{pti}separste-pattern.png") 0 bottom repeat-x;

	&:first-child {
		padding-top: 0;
	}
}

.rewiews {
	background: url("@{pti}rewiews-bg.jpg") center center no-repeat;
	padding-bottom: 145px;

	.-owner {
		width: 730px;
	}

	.filter-button {
		padding: 25px 0;
	}

	.-cont {
		._item {
			background: url("@{pti}separste-pattern.png") 0 bottom repeat-x;
			padding-bottom: 35px;
			padding-top: 30px;
			margin-bottom: 25px;

			&:last-child {
				background: none;
			}
		}

		.who-get {
			color: #2e5da2;
			position: relative;
			line-height: 1;
			margin: 0 35px 20px;

			&:after {
				content: '';
				display: block;
				width: 31px;
				height: 40px;
				background: url("@{pti}rewiews-hat.png") center center no-repeat;
				position: absolute;
				bottom: 100%;
				left: -20px;
			}
		}

		.text {
			padding: 0 35px;
			margin: 0;
			font: 15px 'PT Serif', serif;
			color: #fff;
			position: relative;
			margin-bottom: 25px;

			&:after, &:before {
				content: '';
				display: block;
				width: 21px;
				height: 15px;
				background: url("@{pti}quote.png") center center no-repeat;
				position: absolute;
				top: 0;
				left: 0;
			}

			&:after {
				top: auto;
				right: 0;
				bottom: 0;
				left: auto;
				transform: rotate(180deg);
			}
		}

		.data {
			font-family: @f-neb;
			font-size: 16px;
			color: #fff;
			text-transform: uppercase;
			margin: 0 35px;
		}
	}
}

.rewiews-form {
	height: 647px;
	background: url("@{pti}rewiews-form.png") center center no-repeat;
	padding-top: 100px;

	.robots {
		display: block;
		margin: -220px 0 0 -30px;
	}
}

.sucsess {
	padding: 50px 0;

	.owner {
		display: table;
		width: 100%;
		margin: 0;

		.item {
			display: table-cell;
			float: none;
			height: 160px;
			vertical-align: middle;
			text-align: center;
			background: url("@{pti}partner-bg.png") center center no-repeat;

			img {
				display: inline-block;
			}
		}
	}
}

article {

	h2 {
		font: 60px @f-nh;
		margin: 93px 0 10px;
		color: #fff;
		text-transform: uppercase;
	}
	.add-desc-art {
		position: relative;
		padding: 18px 25px;
		font: 30px @f-nb;
		color: #fff;
		margin-bottom: 40px;
	}
	.corner-l,
	.corner-r {
		width: 72px;
		height: 72px;
		position: absolute;
		background: url("@{pti}article-corners.png") -80px -80px no-repeat;
	}
	.corner-l {
		left: 0;
		top: 0;
	}
	.corner-r {
		right: 0;
		bottom: 0;
		background-position: 0px 0px;
	}

	.desc {
		font: 15px 'PT Serif', serif;
		color: #fff;
		margin-bottom: 17px;
	}
	.wr-more {
		text-align: center;
		margin-bottom: 48px;
	}
	.out-more {
		background: url("@{pti}article-more.png") 0px -40px no-repeat;
		padding-left: 26px;
		display: inline-block;
	}
	.in-more {
		padding-right: 26px;
		background: url("@{pti}article-more.png") 100% 0px no-repeat;
	}
	.link-more {
		text-transform: uppercase;
		border-bottom: 1px dashed #2e5da2;
		color: #2e5da2;
		font: 16px @f-nb;
		text-decoration: none;
		padding-top: 12px;
		display: block;
	}
	.list-photo-art {
		text-align: center;
		margin-bottom: 32px;
		padding: 0;
		overflow: hidden;
		margin-left: -38px;
		margin-right: -38px;
		position: relative;
		z-index: 3;

		&.-programs-list {
			margin-left: -10px;
			margin-right: -10px;
			padding-top: 30px;

			li {
				width: (480px / 2) - 20;
				margin-bottom: 0;
			}
		}

		&.person {
			margin: 0 -10px;
		}
	}
	.item-list {
		float: left;
		padding: 7px 7px 40px;
		background: url("@{pti}photo-frame-pattern.png");
		position: relative;
		margin: 0 10px 20px;
		width: 206px;

		&:after {
			content: '';
			display: block;
			width: 100px;
			height: 24px;
			position: absolute;
			top: -12px;
			left: 50%;
			margin-left: -50px;
			background: url("@{pti}photo-frame-skotch.png");
		}

		img {
			width: 100%;
			box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3)
		}
	}
	.scroll {
		height: 8px;
		background: url("@{pti}article-scroll.png") 0 0 repeat-x;
		border-radius: 5px;
		position: relative;
		margin-bottom: 44px;
	}
	.wheel-scroll {
		background: url("@{pti}article-scroll.png") 0 -40px no-repeat;
		width: 46px;
		height: 46px;
		position: absolute;
		top: -19px;
		margin-left: 34px;
	}
	.person-button {
		position: relative;
		z-index: 1;

		&:after {
			content: '';
			display: block;
			width: 745px;
			height: 308px;
			background: url("@{pti}person-buton-confeti.png") 0 0 no-repeat;
			position: absolute;
			bottom: -120px;
			left: -30px;
		}

		.btn-order {
			z-index: 2;
			position: relative;
		}
	}
	.btn-order {
		width: 400px;
		height: 75px;
		background: url("@{pti}article-btn.png") 0 0 no-repeat;
		margin: 0 auto 55px;
		font: 30px @f-neb;
		color: #fff;
		text-transform: uppercase;
		text-shadow: 1px 1px 1px rgba(46, 93, 162, .5);
		display: block;
		text-decoration: none;
		text-align: center;
		line-height: 2.2;

		&:hover {
			background-position: 0 -80px;
		}
	}
}

.programs-owner {
	.programs-block:nth-child(odd) {
		padding-right: 40px;
	}

	.programs-block:nth-child(even) {
		padding-left: 40px;
	}

	.wr-more {
		margin: 0;
	}
}

.programs-block {
	margin-bottom: 20px;

	.title {
		text-decoration: underline;
	}

	.description {
		position: relative;
		padding: 20px;
		font: 15px 'PT Serif',serif;
		color: #fff;
	}
}

.persons-list {
	margin-bottom: 40px;
	
	.title {
		margin-bottom: 30px;

		.text {
			display: inline-block;
			position: relative;
			z-index: 2;

			.lable {
				position: absolute;
				width: 112px;
				height: 84px;
				right: -100px;
				top: 50%;
				margin-top: -42px;
				z-index: 0;

				&.-younger {
					background: url("@{pti}lable-younger.png");
				}

				&.-midle {
					background: url("@{pti}lable-midle.png");
				}

				&.-old {
					background: url("@{pti}lable-older.png");
				}
			}
		}
	}

	.person-item {
		position: relative;

		&:after {
			content: '';
			display: block;
			width: 289px;
			height: 423px;
			position: absolute;
			background: url("@{pti}person-confeti-1.png");
			left: -60px;
			top: -40px;
			pointer-events: none;
		}

		&:nth-child(2n+1):after {
			width: 369px;
			height: 317px;
			background: url("@{pti}person-confeti-2.png");
			left: -75px;
			top: -10px;
		}

		&:nth-child(3n+1):after {
			width: 369px;
			height: 423px;
			background: url("@{pti}person-confeti-3.png");
			left: -30px;
			top: -40px;
		}
	}
}

.cake-list {
	margin-left: 20px;
	margin-top: -50px;
	position: relative;
	z-index: 11;

	li.title {
		list-style: none;
		font: 16px @f-neb;
		color: #333;
		padding-bottom: 40px;
		text-transform: uppercase;
	}
}

.flower-slider {
	background: url("@{pti}flower-slider-bg.png") center bottom no-repeat;
	position: relative;
	margin-bottom: 20px;

	h3.flower-title {
		margin: 50px 0 0;
	}

	.shadow {
		width: 100%;
		height: 52px;
		background: url("@{pti}flower-slider-shadow.png") center bottom no-repeat;
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 11;
	}

	.slide-wrapper {
		height: 980px;
		position: relative;
		z-index: 0;

		.content {
			width: auto;
			float: none;

			.item-list {
				float: none;
				width: 250px;
				margin-left: auto;
				margin-right: auto;
			}
		}

		.leter-1 {
			width: 454px;
			height: 437px;
			position: absolute;
			right: 575px;
			bottom: 70px;
			z-index: 3;
			background: url("@{pti}flower-leter-1.png") center center no-repeat;
			transition: all 0.5s;
			border-radius: 0 400px 0 400px;

			.content {
				width: 200px;
				margin: 140px 0 0 100px;
				transform: rotate(-45deg);
			}

			&:hover {
				right: 600px;
				bottom: 95px;
			}
		}

		.leter-2 {
			width: 352px;
			height: 660px;
			position: absolute;
			right: 520px;
			bottom: 95px;
			z-index: 2;
			background: url("@{pti}flower-leter-2.png") center center no-repeat;
			transition: all 0.5s;

			.content {
				width: 200px;
				margin: 140px 0 0 15px;
				transform: rotate(-40deg);
			}

			&:hover {
				right: 545px;
				bottom: 120px;
			}
		}

		.leter-3 {
			width: 341px;
			height: 738px;
			position: absolute;
			right: 175px;
			bottom: 50px;
			z-index: 0;
			background: url("@{pti}flower-leter-3.png") center center no-repeat;
			transition: all 0.5s;

			.content {
				width: 200px;
				margin: 200px 0 0 125px;
				transform: rotate(40deg);
			}

			&:hover {
				right: 150px;
				bottom: 75px;
			}
		}

		.leter-4 {
			width: 463px;
			height: 445px;
			position: absolute;
			right: -40px;
			bottom: 53px;
			z-index: 5;
			background: url("@{pti}flower-leter-4.png") center center no-repeat;
		}

		.leter-main {
			width: 388px;
			height: 931px;
			position: absolute;
			left: 50%;
			bottom: 15px;
			margin-left: -210px;
			z-index: 9;
			background: url("@{pti}flower-leter-main.png") center center no-repeat;

			.content {
				width: 300px;
				margin: 90px auto 0;
			}
		}

		.center {
			width: 458px;
			height: 217px;
			background: url("@{pti}flower-slider-center.png") center center no-repeat;
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -228px;
			z-index: 10;
			font-size: 30px;
			color: #333333;
			font-family: @f-neb;
			padding-top: 120px;
		}
	}
}

.cake-list {

	li {
		list-style-image: url("@{pti}cake-list.png");
		font: 15px 'PT Serif', serif;
		color: #fff;
		padding-bottom: 10px;
	}
}

.crumbs-art {
	margin: 0 0 49px;

	.crumb {
		font: 15px 'PT Serif', serif;
		color: #2e5da2;
		background: url("@{pti}article-icons-crumb.png") 0 50% no-repeat;
		padding-left: 22px;
		margin-right: 20px;
		text-decoration: underline;

		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}
	.active {
		color: #fff;
		text-decoration: none;
	}
}

.about-us-art {
	z-index: 0;
}

.about-us-art, .wr-form {
	background: url("@{pti}about-us-art-bg.png") center center no-repeat;
	height: 709px;
	position: relative;
	top: -25px;
	margin-bottom: -25px;
}

.about-us-art, .wr-form {

	.tablet {
		background: url("@{pti}about-us-art-tablet.png") 0 0 no-repeat;
		float: right;
		width: 438px;
		height: 572px;
		margin: 73px 10px 0 0;
		padding: 71px 94px 150px;
		text-align: center;
	}

}

.wr-tabs {
	float: left;
	width: 490px;
	text-align: center;

	.tabs {
		margin: 60px 0 20px;
		padding: 20px 20px 10px;
		position: relative;
		overflow: hidden;
	}
	.corners-l,
	.corners-r {
		background: url("@{pti}about-us-art-corners-tab.png") 0 0 no-repeat;
		position: absolute;
		right: 0;
		bottom: 0;
		width: 72px;
		height: 72px;
	}
	.corners-l {
		background-position: -0px -80px;
		left: 0;
		top: 0;
	}
	.item-tabs {
		background: url("@{pti}about-us-art-btn-tab.png") 0 0 no-repeat;
		width: 200px;
		height: 62px;
		float: left;
		font: 16px @f-neb;
		text-transform: uppercase;
		text-align: center;
		color: #fff;
		text-shadow: 1px 1px 1px rgba(46, 93, 162, .5);
		line-height: 3;
		text-decoration: none;
		position: relative;
		z-index: 1;

		&:hover {
			opacity: 0.9;
		}

		&:last-child {
			float: right;
		}
	}
	.active {
		background-position: 0 -80px;
	}
}

footer {
	background: url("@{pti}footer-bg.png") center 20px no-repeat;
	padding: 150px 0 55px;
	margin: -35px 0 0;
	.contacts {
		padding: 0 0 0 150px;
	}
	.title,
	.time,
	.email,
	.copyright,
	.year,
	.item-list {
		font: 15px 'PT Serif', serif;
		color: #fff;
	}
	.link-email,
	.link-dev,
	.link-list {
		color: #fff;
		text-decoration: underline;
	}
	.title {
		margin: 0 0 5px;
	}
	.phone {
		font: 30px @f-neb;
		margin: 0 0 3px;
		color: #fff;
		line-height: 1;
	}˝
	.time {
		margin: 0 0 22px;
	}
	.copyright {
		padding-left: 160px;
	}

	.year {
		margin: 0 0 5px;
	}
	.title-cr {
		margin-bottom: 3px;
		font: 30px @f-neb;
		text-transform: uppercase;
	}
	.dev {
		margin-bottom: 11px;
	}
	.list_about {
		padding: 0;
	}
}

/* .overlay-form */
.overlay-form {
	position: fixed;
	z-index: 200;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(46, 93, 162, 0.8);
	display: none;

	.wr-form {
		width: 600px;
		height: 890px !important;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -445px 0 0 -300px !important;
		background: url('@{pti}pattern blueD.png');
		padding: 40px;

		.form-content {
			position: relative;
			z-index: 1;
		}

		.wawe {
			position: absolute;
			z-index: 0;

			&.-left, &.-right {
				width: 27px;
				height: 100%;
				background: url("@{pti}sidebar-left-wawe.png");
				bottom: 0;
				left: -26px;
			}

			&.-right {
				background: url("@{pti}sidebar-right-wawe.png");
				right: -26px;
				left: auto;
			}

			&.-bottom, &.-top {
				width: 651px;
				height: 35px;
				top: -35px;
				left: -26px;
				background: url("@{pti}popup-top-wawe.png");
			}

			&.-bottom {
				background: url("@{pti}popup-top-wawe.png");
				bottom: -35px;
				top: auto;
				left: -25px;
				transform: rotate(180deg);
			}
		}

		.title {
			font: 60px @f-neb;
			text-transform: uppercase;
			color: #fff;
			line-height: 1;
			text-align: center;
			margin: 0;
		}

		table {
			width: 100%;
			margin-bottom: 15px;
		}

		.fill-fields, .what-inc {
			color: #73acca;
			font-size: 15px;
			font-family: 'PT Serif', serif;
			margin: 0;
		}

		.help-wrap {
			position: relative;

			.help {
				width: 440px;
				padding: 30px;
				border-radius: 15px;
				background: #fff;
				position: absolute;
				z-index: 10;
				top: 100%;
				right: 0;
				display: inline-block;
				text-align: left;
				margin-top: 20px;
				display: none;

				&:after {
					content: '';
					display: block;
					width: 0;
					height: 0;
					border-bottom: 15px solid #fff;
					border-left: 15px solid transparent;
					border-right: 15px solid transparent;
					position: absolute;
					bottom: 100%;
					right: 170px;
				}

				.header {
					display: inline-block;
					font-family: @f-neb;
					font-size: 30px;
					margin-top: 0;
				}

				.cake-list {
					display: inline-block;
					margin: 0 0 0 -17px;

					li {
						color: #333;
					}
				}
			}

			&:hover .help {
				display: block;
			}
		}

		.what-inc {
			color: #fcce00;
			display: inline-block;
			cursor: pointer;
			position: relative;

			.ico-question {
				width: 25px;
				height: 25px;
				line-height: 25px;
				background: rgba(255, 255, 255, 0.25);
				display: inline-block;
				text-align: center;
				border-radius: 50%;
				border: 1px solid rgba(255, 255, 255, 0.4);
				font-family: @f-neb;
			}

			.text {
				border-bottom: 1px dotted #fcce00;
			}
		}

		.blue-btn {
			width: 420px;
			height: 75px;
			background: url('@{pti}form-button.png');

			&:hover {
				background-position: 0 bottom;
			}
		}

		.confeti {
			width: 666px;
			height: 297px;
			background: url('@{pti}form-confeti.png');
			position: absolute;
			bottom: -100px;
			left: 50%;
			margin-left: -333px;
			z-index: 0;
			pointer-events: none;
		}

		.more-than {
			label {
				padding-left: 30px;
				background: url("@{pti}checkbox.png") 0 0 no-repeat;
				color: #fff;
				font-size: 15px;
				font-family: 'PT Serif', serif;
				line-height: 21px;
			}

			input[type=checkbox] {
				display: none;

				&:checked + label {
					background: url("@{pti}checkbox.png") 0 -21px no-repeat;
				}
			}
		}
	}
}

.wr-holiday {
	width: 360px;
	position: relative;
	padding: 20px 0 15px;
	margin-bottom: 20px;

	.title-holiday {
		font: 16px @f-neb;
		text-transform: uppercase;
		color: #fff;
		line-height: 1;
		text-align: center;
		margin: 0;
		width: 100%;
		position: absolute;
		left: 0;
		top: -5px;
	}

	.corners-l, .corners-r {
		background: url("../img/about-us-art-corners-tab.png") 0 0 no-repeat;
		position: absolute;
		right: 0;
		bottom: 0;
		width: 72px;
		height: 72px;
	}

	.corners-l {
		top: 0;
		right: auto;
		bottom: auto;
		left: 0;
		background-position: right bottom;
	}

	.item-holid {
		display: inline-block;
		width: 50px;
		margin: 0 15px;
		position: relative;

		label {
			display: inline-block;
			background-image: url("@{pti}events.png");
			width: 50px;
			height: 50px;
		}

		label.first {
			background-position: 0 0
		}

		label.second {
			background-position: -90px 0
		}

		label.third {
			background-position: -180px 0
		}

		label.forth {
			background-position: -270px 0
		}

		input[type=radio] {
			display: none;

			&:checked + label.first {
				background-position: 0 -50px;
			}

			&:checked + label.second {
				background-position: -90px -50px;
			}

			&:checked + label.third {
				background-position: -180px -50px;
			}

			&:checked + label.forth {
				background-position: -270px -50px;
			}
		}

		.tool-lip {
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -75px;
			width: 150px;
			background: #77b2d1;
			border: 1px solid #77b2d1;
			border-radius: 3px;
			box-shadow: inset 1px 1px 1px 0 rgba(255, 255, 255, 0.4);
			font: 16px @f-neb;
			text-transform: uppercase;
			color: #fff;
			line-height: 40px;
			text-align: center;
			min-height: 40px;
			display: none;

			&:after {
				content: '';
				display: block;
				position: absolute;
				width: 0;
				height: 0;
				border-bottom: 6px solid #77b2d1;
				border-left: 6px solid transparent;
				border-right: 6px solid transparent;
				bottom: 100%;
				left: 50%;
				margin-left: -6px;
			}
		}

		&:hover .tool-lip {
			display: block;
		}
	}
}

.contacts-owner {
	position: relative;

	.contacts-man {
		position: absolute;
		width: 544px;
		height: 479px;
		background: url("@{pti}contacts-man.png") center center no-repeat;
		top: 145px;
		right: 60px;
		z-index: 3;
		pointer-events: none;
	}
}

.contacts-desk {
	width: 466px;
	height: 390px;
	background: url("@{pti}contacts-desk.png") center center no-repeat;
	padding: 65px 20px 20px;
	font-family: @f-neb;
	text-align: center;
	color: #333;
	text-transform: uppercase;

	p {
		margin: 0;
	}

	.phone {
		font-size: 60px;
		line-height: 60px;
	}

	.mail {
		color: #2e5da2;
		font-size: 30px;
		text-decoration: underline;
		margin: 35px 0 15px;
		display: block;

		&:hover {
			text-decoration: none;
		}
	}

	.work-time {
		font-size: 15px;
		line-height: 20px;

		.ico {
			display: inline-block;
			width: 21px;
			height: 20px;
			background: url("@{pti}ico-clock.png") center center no-repeat;
			margin-bottom: -5px;
		}
	}
}

.lbl-inpit {
	padding: 10px;
	border-radius: 7px;
	background: rgba(255, 255, 255, 0.25);
	border: 1px solid rgba(255, 255, 255, 0.4);
	width: 100%;
	margin: 0 0 20px;
	display: block;
}
.wr-inpit {
	background: #fff;
	border-radius: 4px;

	input[type="text"],
	textarea {
		border: 1px solid #fff;
		border-radius: 4px;
		height: 40px;
		font: 15px 'PT Serif', serif;
		color: #af9394;
		padding: 8px 10px;
		width: 100%;
		text-transform: uppercase;
		background: rgb(117, 56, 58);
		background: -moz-linear-gradient(90deg, rgba(117, 56, 58, 0.21) 0%, rgba(255, 255, 255, 0.21) 100%);
		background: -webkit-linear-gradient(90deg, rgba(117, 56, 58, 0.21) 0%, rgba(255, 255, 255, 0.21) 100%);
		background: -o-linear-gradient(90deg, rgba(117, 56, 58, 0.21) 0%, rgba(255, 255, 255, 0.21) 100%);
		background: -ms-linear-gradient(90deg, rgba(117, 56, 58, 0.21) 0%, rgba(255, 255, 255, 0.21) 100%);
		background: linear-gradient(180deg, rgba(117, 56, 58, 0.21) 0%, rgba(255, 255, 255, 0.21) 100%);
		-webkit-box-shadow: inset 2px 3px 4px 0px rgba(76, 12, 14, 0.15);
		-moz-box-shadow: inset 2px 3px 4px 0px rgba(76, 12, 14, 0.15);
		box-shadow: inset 2px 3px 4px 0px rgba(76, 12, 14, 0.15);
	}
	textarea {
		height: 101px;
		resize: none;
	}

	.with-ico {
		padding-left: 40px !important;
		background-position: 10px center !important;
		background-repeat: no-repeat !important;

		&.-theme {
			background-image: url("@{pti}ico-input-program.png") !important;
		}

		&.-date {
			background-image: url("@{pti}ico-input-date.png") !important;
		}

		&.-name {
			background-image: url("@{pti}ico-input-name.png") !important;
		}

		&.-phone {
			background-image: url("@{pti}ico-input-phone.png") !important;
		}

		&.-email {
			background-image: url("@{pti}ico-input-mail.png") !important;
		}
	}
}
.blue-btn {
	background: url("@{pti}about-us-art-btn-review.png") 0 0 no-repeat;
	width: 300px;
	height: 77px;
	border: 0;
	font: 30px @f-neb;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(46, 93, 162, .5);
	text-align: center;
	text-transform: uppercase;
	margin: 20px auto 20px;
	display: block;

	&:hover {
		background-position: 0 -80px;
		color: #fff;
		text-decoration: none;
	}

	&.-more {
		width: 200px;
		height: 75px;
		background: url("@{pti}btn-more.png") 0 0 no-repeat;

		&:hover {
			background-position: right 0;
		}
	}

	&.-all {
		width: 240px;
		height: 75px;
		background: url("@{pti}btn-all.png") 0 0 no-repeat;

		&:hover {
			background-position: right 0;
		}
	}

	&.-flower {
		width: 250px;
		height: 75px;
		background: url("@{pti}btn-flower.png") 0 0 no-repeat;

		&:hover {
			background-position: right 0;
		}
	}

	&.-benefit {
		width: 300px;
		height: 75px;
		background: url("@{pti}btn-benefits.png") 0 0 no-repeat;

		&:hover {
			background-position: 0 0;
			opacity: 0.9;
		}
	}

	.in-btn {
		display: block;
		height: 77px;
		line-height: 2.1;
	}
}

.get-call {
	position: relative;
	margin-bottom: 75px;

	.if-somesing-wrong {
		width: 294px;
		height: 160px;
		background: url("@{pti}if-something-wrong.png") 0 0 no-repeat;
		position: absolute;
		bottom: -30px;
		right: 88%;
		padding-top: 45px;
		font-size: 16px;
		font-family: @f-neb;
		color: #fff;
		text-transform: uppercase;
		text-shadow: 1px 1px 1px solid #000;
		z-index: 0;
	}
}

.social-text {
	padding-top: 155px;
}