@font-face {
    font-family: 'NeuronRegular';
    src: url('../fonts/neuron.eot');
    src: url('../fonts/neuron.eot') format('embedded-opentype'),
         url('../fonts/neuron.woff') format('woff'),
         url('../fonts/neuron.ttf') format('truetype'),
         url('../fonts/neuron.svg#NeuronRegular') format('svg'); 
}

@font-face {
    font-family: 'NeuronExtraBold';
    src: url('../fonts/neuron-extrabold.eot');
    src: url('../fonts/neuron-extrabold.eot') format('embedded-opentype'),
         url('../fonts/neuron-extrabold.woff') format('woff'),
         url('../fonts/neuron-extrabold.ttf') format('truetype'),
         url('../fonts/neuron-extrabold.svg#NeuronExtraBold') format('svg');
}
@font-face {
    font-family: 'NeuronBold';
    src: url('../fonts/neuron-bold.eot');
    src: url('../fonts/neuron-bold.eot') format('embedded-opentype'),
         url('../fonts/neuron-bold.woff') format('woff'),
         url('../fonts/neuron-bold.ttf') format('truetype'),
         url('../fonts/neuron-bold.svg#NeuronBold') format('svg');
}
@font-face {
    font-family: 'NeuronHeavy';
    src: url('../fonts/neuron-heavy.eot');
    src: url('../fonts/neuron-heavy.eot') format('embedded-opentype'),
         url('../fonts/neuron-heavy.woff') format('woff'),
         url('../fonts/neuron-heavy.ttf') format('truetype'),
         url('../fonts/neuron-heavy.svg#NeuronHeavy') format('svg');
}


