@red: #ff0000;
@size-p: 30px;

@var1: "this is a test";
@var2: 'var1';
p{
	color:@red;
	font-size:@size-p;
}
.somevar{
	content: @@var2;
}



.grid (@index, @colWidth: 80) when (@index > 0)  {
	.grid-@{index} {
		@width: @index * @colWidth;
		width: ~"@{width}px";
    }

	.grid(@index - 1, @colWidth);
}
.grid(0, @_){}
.grid(12, 100);

@color: #eeeee3;
.class {
    background-color: spin(@color, 18);
}